body {
    background-color: #cdf0ea;
    margin: 0.5rem 1.2rem 0.5rem 1.2rem;
  }
  header {
    border: 2px solid #a4d7c7;
    border-radius: 20px;
    text-align: center;
    background-color: #a4d7c7;
    box-shadow: 10px 5px 5px #3e977b;
  }
  h1 {
    color: #054e47;
    font-size: 1.7rem;
  }
  table {
    width: 100%;
    padding-top: 1rem;
  }
  .main {
    border: 2px solid #f9f9f9;
    border-radius: 20px;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    box-shadow: 10px 5px 5px #3e977b;
  }
  .plate {
    width: 18.5rem;
    text-align: center;
    font-size: 3.2rem;
    background-color: #a4d7c7;
    border-radius: 20px;
    margin: 2% 3% 0 3%;
    box-shadow: 10px 5px 5px #3e977b;
  }
  .signal {
    width: 6.3rem;
    padding: 0.8rem 0.5rem 0.5rem 0.5rem;
    border: 2px solid #a4d7c7;
    border-radius: 70px 70px 0 0;
    background-color: #a4d7c7;
    box-shadow: 10px 5px 5px #3e977b;
  }
  .red {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    margin-bottom: 0.5rem;
    box-shadow: 5px 5px 5px 1px rgb(178, 86, 86);
    opacity: 0.3;
  }
  .yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 100%;
    margin-bottom: 0.5rem;
    box-shadow: 5px 5px 5px 1px rgb(140, 143, 65);
    opacity: 0.3;
  }
  .green {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 100%;
    box-shadow: 5px 5px 5px 1px rgb(66, 95, 66);
    opacity: 0.3;
  }
  #new {
    color: red;
    border: 2px solid #a4d7c7;
    background-color: #ffcbcb;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    box-shadow: inset 0 5px 15px 15px red;
    margin-left: 0.1rem;
  }
  #new1 {
    color: green;
    border: 2px solid #a4d7c7;
    background-color: #87ff99;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    box-shadow: inset 0 5px 15px 15px green;
    margin-left: 0.1rem;
  }
  #new2 {
    color: yellow;
    border: 2px solid #a4d7c7;
    background-color: #e88940;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    box-shadow: inset 0 5px 15px 15px yellow;
    margin-left: 0.1rem;
  }
  @media screen and (max-width: 340px) {
    h1 {
      font-size: 1rem;
    }
    .plate {
      width: 12rem;
      font-size: 2rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
    }
    .signal {
      margin-left: 3.4rem;
    }
    #new {
      margin-top: 40rem;
    }
  }
  @media screen and (min-width: 400px) {
    .plate {
      width: 20rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
    }
    #new {
      padding: 3.7rem;
    }
    #new1 {
      padding: 3.7rem;
    }
    #new2 {
      padding: 2.3rem;
      font-size: 1rem;
    }
  }
  @media screen and (min-width: 600px) {
    #new2 {
      padding: 4rem;
      font-size: 1.7rem;
    }
  }
  @media screen and (min-width: 700px) {
    h1 {
      font-size: 2rem;
    }
    .plate {
      width: 28rem;
      font-size: 5rem;
    }
    #new {
      font-size: 2.5rem;
      padding: 8rem;
      margin-right: 1rem;
    }
    #new1 {
      font-size: 2.5rem;
      padding: 8rem;
      margin-right: 1rem;
    }
    #new2 {
      font-size: 2.3rem;
      padding: 5rem;
      margin-right: 1rem;
    }
  }
  @media screen and (min-width: 1024px) {
    header {
      width: 55rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    h1 {
      font-size: 2rem;
    }
    .main {
      width: 65rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    #new {
      margin-right: 8rem;
    }
    #new1 {
      margin-right: 8rem;
    }
    #new2 {
      margin-right: 8rem;
      padding: 7rem;
    }
    #td1 {
      padding-left: 6rem;
    }
  }
  